.container-main-card {
    background-color: white;
    max-width: 300px;
    border-radius: 30px;
    box-shadow: 3px 3px 5px 6px #ccc;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: larger;
    display: flex;
    justify-content: center;
    height: 130px;
}

.photo {
    height: 250px;
    width: 100%;
    background-size: cover;
}

.card-text {
    color: black;
    font-size: medium;
    font-weight: bold;
}

.price {
    font-weight: bold;
    font-size: 20px;
    color: forestgreen;
}

.addToCart {
    font-size: 15px;
    display: flex;
    padding: 3px 7px !important;
}

.material-symbols {
    color: black;
}

.shoppingCart {
    height: 30px;
}

.cart {
    border: none;
    background-color: transparent;
}

.cartContent{
justify-content: space-between;
margin: 30px 70px;
}

.cartImages{
    height: 150px;
}

html{
    scroll-behavior: smooth;
}

.cartTitle {
    width: 15%;
}

.imagesDiv {
    margin-right: 20%;
}

.cartPrices {
    padding-right: 18%;
}